<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.GoodCountsMapper">
 <select id="getGoodsCount" resultType="goods.GoodCounts" parameterType="goods.GoodCountSend">
  SELECT * FROM wznotes WHERE zid=#{zId} AND updateTime BETWEEN #{startTime} AND #{stopTime}
 </select>
</mapper> 